{% extends 'hospital/admin_base.html' %}
{% load static %}
{% block content %}
{% include 'hospital/admin_dashboard_cards.html' %}
<br><br><br><br>
<div class="container-fluid mt-5" style="font-family: 'Roboto', sans-serif;">
  <div class="row justify-content-center">
    <div class="card col-md-5 mx-3 my-2 shadow-lg" data-aos="fade-up">
      <div class="card-header bg-primary text-white text-center">
        <h6 class="card-title">Recent Doctors</h6>
      </div>
      <div class="card-body p-0">
        <table class="table table-hover m-0">
          <thead class="thead-dark">
            <tr>
              <th>Name</th>
              <th>Department</th>
              <th>Mobile</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            {% for d in doctors %}
            <tr>
              <td>{{ d.get_name }}</td>
              <td>{{ d.department }}</td>
              <td>{{ d.mobile }}</td>
              {% if d.status %}
              <td><span class="badge badge-primary">Permanent</span></td>
              {% else %}
              <td><span class="badge badge-warning">On Hold</span></td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <div class="card col-md-5 mx-3 my-2 shadow-lg" data-aos="fade-up" data-aos-delay="200">
      <div class="card-header bg-primary text-white text-center">
        <h6 class="card-title">Recent Patients</h6>
      </div>
      <div class="card-body p-0">
        <table class="table table-hover m-0">
          <thead class="thead-dark">
            <tr>
              <th>Name</th>
              <th>Symptoms</th>
              <th>Mobile</th>
              <th>Address</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            {% for p in patients %}
            <tr>
              <td>{{ p.get_name }}</td>
              <td>{{ p.symptoms }}</td>
              <td>{{ p.mobile }}</td>
              <td>{{ p.address }}</td>
              {% if p.status %}
              <td><span class="badge badge-primary">Admitted</span></td>
              {% else %}
              <td><span class="badge badge-warning">On Hold</span></td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
<script>
  AOS.init();
</script>
{% endblock content %}
